# Configuración de la base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=mislibros

# JWT Secret
JWT_SECRET=tu_jwt_secret_muy_seguro_aqui

# Configuración de email
EMAIL_USER=tu_email@gmail.com
EMAIL_PASSWORD=tu_contraseña_de_aplicacion

# Puerto del servidor
PORT=8001

# URLs del backend y frontend
BACKEND_URL=http://localhost:8001
FRONTEND_URL=http://localhost:5173

# Entorno de desarrollo
NODE_ENV=development

# Configuración de Cloudinary
CLOUDINARY_CLOUD_NAME=do8zbut6y
CLOUDINARY_API_KEY=871589891564992
CLOUDINARY_API_SECRET=1Xk0a6ScKh