/* BooksRow.module.css */

.container {
  display: flex;
  justify-content: center; /* Distribuye los elementos equitativamente */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  padding: 10px 0; /* Añade un poco de relleno arriba y abajo */
  border-bottom: 1px solid #ddd; /* Línea para separar cada fila */
  transition: background-color ease 0.2s;
}

.titulo, .autor, .genero, .icons{
  flex: 1;
  text-align: center; /* Centra el texto */
}


.iconEdit:hover{
color: rgb(230, 212, 94);
}
.iconDelete:hover{
color:rgb(235, 65, 3)}
.container:hover{
cursor: pointer;
background-color: var(--color-secundary);
color: white;
}