.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  height: 100%; /* Asegura que ocupe todo el alto del contenedor */
  overflow: hidden; /* Ocultar el desbordamiento */
  margin: 0; /* Elimina márgenes para ocupar todo el espacio */
}

.cover {
  width: 100%;
  max-width: 250px; /* Aumenta el tamaño máximo de la imagen */
  height: auto;
  border-radius: 8px;
}

.details {
  margin-top: 2px;
  text-align: center;
  width: 100%;
  overflow: hidden; /* Ocultar el desbordamiento */
}

.title {
  font-size: 1.3em; /* Aumenta el tamaño de la fuente */
  margin-bottom: 8px;
}

.genre {
  margin: 8px 0;
}

.synopsis {
  margin: 8px 0;
  max-height: calc(100% - 80px); /* Ajusta la altura máxima para la sinopsis */
  overflow-y: auto; /* Habilitar scroll vertical */
  text-align: justify; /* Alinear el texto a la izquierda */
  padding-right: 10px; /* Añadir espacio para el scroll */
  font-size: 1rem; /* Aumenta el tamaño de la fuente */
  line-height: 1.9;
}