.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 30px;
}

.carrusel {
  display: flex;
  gap: 30px;
  padding: 30px;
  transition: transform 0.5s ease;
}

.carrusel img {
  width: 230px;
  height: 300px; /* Ajusta la altura según el ratio que prefieras */
  object-fit: cover; /* Asegura que las imágenes se recorten y mantengan el ratio */
  border-radius: 7px;
  box-shadow: var(--shadow-carrusel-img);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el tamaño y sombra */
}

.carrusel img:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Aumenta la sombra al hacer hover */
  cursor: pointer;
}
.carrusel p {
  margin-top: 25px;
  text-align: center;
}

.sagaItem {
  width: 250px;
  text-align: center;
}

.arrow {
  width: 3rem;
  height: 3rem;
  filter: drop-shadow(
    0 4px 4px rgba(0, 0, 0, 0.5)
  ); /* Añadir sombra a la flecha */
}

.arrow:hover {
  cursor: pointer;
}

.arrow:hover path {
  stroke: var(--color-primary); /* Cambiar el color de la flecha a blanco */
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; /* Deshabilitar interacciones */
}
/* Media query para pantallas móviles */
@media (max-width: 768px) {
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
 }
  .carrusel {
    gap: 10px; /* Reduce el espacio entre los elementos del carrusel */
    padding: 1px; /* Reduce el padding */
  }
  .carrusel img {
    width: 200px;
    height: 270px; /* Ajusta la altura según el ratio que prefieras */
    object-fit: cover; /* Asegura que las imágenes se recorten y mantengan el ratio */
    border-radius: 7px;
    box-shadow: var(--shadow-carrusel-img);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el tamaño y sombra */
  
  }

  .sagaItem {
    width: 214px;
    text-align: center;
  }
  .arrow {
    width: 25px;
    height: 25px;
    display: block;
  }
}
