.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.ContainerHeaderMain {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.containerCard {
  flex: 0 0 30%; /* Ocupa el 30% del ancho de la ventana */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido */
  align-items: center; /* Centra horizontalmente el contenido */
  overflow-y: auto; /* Habilitar scroll vertical */
  
  height: 100%; /* Asegura que ocupe todo el alto del contenedor */
}

.mainSagaContainer h4{
margin-left:15px}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  }

  .ContainerHeaderMain {
    order: 1; /* Asegura que ContainerHeaderMain esté arriba en pantallas pequeñas */
    flex: 1 0 50%; /* Ocupa la mitad de la pantalla */
    height: 50vh; /* Asegura que ocupe la mitad de la altura de la pantalla */
    overflow-y: auto; /* Habilitar scroll vertical */
  }

  .containerCard {
    flex: 1 0 50%; /* Ocupa la mitad de la pantalla */
    width: 100%;
    border-left: none;
    border-top: 1px solid #ccc; /* Opcional: para separar visualmente */
    height: 50vh; /* Asegura que ocupe la mitad de la altura de la pantalla */
    order: 2; /* Mueve containerCard debajo de ContainerHeaderMain */
    overflow-y: auto; /* Habilitar scroll vertical */
  }
}