:root {
  /* Colors */
  --color-primary: rgb(0,68,69);
  --color-primary-transparente:rgb(0,68,69,0.85);
  --color-secundary: #2c7873;
  --color-secundary-submenu:#184441;
  --color-background-dark:rgb(2,28,30);
  --color-background-dark-transparente: rgb(2,28,30,0.85);
  --color-background-light:rgb(234, 226, 226);
  --color-hover:#6fb98f;
  --color-logout:rgb(247, 235, 68);
  --color-gestor:rgb(226, 77, 13);
  /* Shadows */
  --shadow-sm: 0px 0px 8px rgba(69, 69, 69, 0.3);
  --shadow-md: 0px 0px 16px rgba(69, 69, 69, 0.5);
  --shadow-carrusel-img: 10px 10px 31px -10px rgba(0,0,0,0.75);
  --shadow-search: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);

  /* Borders */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
}
