.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5px;
  height: 85px;
}

.tittle {
  color: var(--color-secundary);
  font-family: "Qwitcher Grypen", cursive;
  font-size: 5em;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

.subtittle{
  color: var(--color-secundary);
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 1.3rem;
  font-style: normal;
  margin: -10px;
}